@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-sans: "Lexend", "Instrument Sans", ui-sans-serif, system-ui,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

html {
    scroll-behavior: smooth;
}

/* Color */
.primary {
    background-color: oklch(76.9% 0.188 70.08);
    color: white;
}

.primary:hover {
    background-color: oklch(82.8% 0.189 84.429);
}

.secondary {
    background-color: oklch(54.6% 0.245 262.881);
    color: white;
}

.secondary:hover {
    background-color: oklch(70.7% 0.165 254.624);
}

.sidebar-scroll::-webkit-scrollbar {
    width: 8px;
}
.sidebar-scroll::-webkit-scrollbar-track {
    background: transparent;
}
.sidebar-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}
.sidebar-scroll:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Firefox support */
.sidebar-scroll {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}
